@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=cyrillic');

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;  
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}