.post-preview {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  color: #000;

  &__thumbnail {
    width: 30%;
    height: 200px;
    background-position: center;
    background-size: cover;
  }

  &__meta {
    padding: 0 0 0 1rem;
  }
}